.btns {
    width: 177px;
    border: 1px solid #000000;
    border-radius: 15px;
    position: relative;
}

.btnn {
    padding-left: 24px;
    height: 25px;
    border: none;
    background-color: transparent;
    border-radius: 15px;
    color: green;
}

.active {
    width: 95px;
    height: 25px;
    color: green;
    background: #000;
    border-radius: 15px;
    z-index: -1;
    position: absolute;
    transition: 0.3s;
}

.btnn-left {
    transform: translateX(0);
}

.btnn-right {
    transform: translateX(80px);
}